In [1]:
print("Hello World")

Hello World

# Demo - Operators

In [1]:
#for Arithmatic operators
a=100
b=10
print("The Sum :",a+b)
print("The Difference :",a-b)
print("The Multiplication :",a*b)
print("The Divison :",a/b)
print("The Modulus :",a%b)
print("The Exponent :",a**b)
print("The Floor Division",a//30)

The Sum : 110
The Difference : 90
The Multiplication : 1000
The Divison : 10.0
The Modulus : 0
The Exponent : 100000000000000000000
The Floor Division 3

In [2]:
#for Relational operator
a=10
b=20
print("A:",a)
print("B:",b)
print("A>B :",a>b)
print("A<B :",a<b)
print("A=B :",a==b)
print("A!=B :",a!=b)
print("A<=B :",a<=b)
print("A>=B :",a>=b)

A: 10
B: 20
A>B : False
A<B : True
A=B : False
A!=B : True
A<=B : True
A>=B : False

# Demo - Control Structure

In [3]:
#if-else
a=int(input("Enter a number :"))
if a%2==0:
    print(a," is even number.")
else:
    print(a," is odd number.")

Enter a number :45
45  is odd number.

In [4]:
#By using conditional operator
a=int(input("Enter a number"))
x="even" if a%2==0 else "odd"
print(a," is ",x)

Enter a number34
34  is  even

In [6]:
#if - elif - else
a=int(input("Enter your mark in first subject : "))
b=int(input("Enter your Mark in second subject : "))
avg=(a+b)/2
if avg>=80:
    print("Grade: A")
elif avg>=70 and avg<80:
    print("Grade: B")
elif avg>=60 and avg<70:
    print("Grade: C")
elif avg>=50 and avg<60:
    print("Grade: D")
elif avg<50:
    print("Grade: F")
else:
    print("Invalid")

Enter your mark in first subject : 67
Enter your Mark in second subject : 89
Grade: B

In [20]:
#Program to illustrate the use of 'in' and 'not in' in if statement
ch=input("Enter a character: ")
if ch in ('a','A','e','E','i','I','o','O','u','U'):
    print(ch," is a Vowel.")
if ch not in ('a','A','b','B','c','C'):
    print(ch," is not in A,B,C")

Enter a character: j
j  is not in A,B,C

In [19]:
#while loop
i=1
while (i<10):
    print(i,"\t")
    i=i+1

1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0,5):
    for j in range(0,i+1):
        print(i)

0
1
1
2
2
2
3
3
3
3
4
4
4
4
4

In [24]:
for word in 'Computer':
    print(word,end=' ')

C o m p u t e r

In [26]:
for i in range(0,5):
    for j in range(0,i+1):
        print(i, end=' ')
    print("\n")

0

1 1

2 2 2

3 3 3 3

4 4 4 4 4

# Functions

In [27]:
def hello():
    print("Hello - python")
    return
hello()

Hello - python

In [28]:
def addition(a,b):
    return a+b
print(addition(10,20))

30

In [29]:
def printing(name):
    print("Hi, ",name)
    return
printing("Ajay")

Hi,  Ajay

In [30]:
def information(name, Age):
    print(name, " is ",Age," year old.")
    return
information("Ajay",20)

Ajay  is  20  year old.

In [31]:
#Variable Length Arguments
def printnos(*nos):
    for n in nos:
        print(n)
    return
print("Printing two values")
print(1,2)
print("Printing three values")
print(10,20,30)

Printing two values
1 2
Printing three values
10 20 30

In [50]:
#Lambda or Anonymous Function
sum1=lambda arg1,arg2:arg1+arg2
print("The Sum is : ",sum1(30,40))
print("The Sum is : ",sum1(-20,60))

The Sum is :  70
The Sum is :  40

# Functions using Libraries

In [51]:
#absolute function
x=20
y=-23
print("x = ",abs(x))
print("y = ",abs(y))

x =  20
y =  23

In [52]:
#character function
c=65
d=95
print(chr(c))
print(chr(d))

A
_

In [53]:
#reverse chr function
c='a'
d='D'
print(ord(c))
print(ord(d))

97
68

In [54]:
#binary converter
x=15
y=1001
print(x," in Binary ",bin(x))
print(y," in Binary ",bin(y))

15  in Binary  0b1111
1001  in Binary  0b1111101001

In [55]:
#type() function
x=15.2
y='a'
s= True
print(type(x))
print(type(y))
print(type(s))

<class 'float'>
<class 'str'>
<class 'bool'>

In [56]:
#id() function
x=15
y='a'
print("address of x is :",id(x))
print("address of y is :",id(y))

address of x is : 1835694097072
address of y is : 1835695513008

In [57]:
#minimum function
Mylist=[59,57,68,35,28]
print(min(Mylist))

28

In [58]:
#maximum function
Mylist=[59,57,68,35,28]
print(max(Mylist))

68

In [1]:
#sum() function
Mylist=[59,57,68,35,28]
print(sum(Mylist))

247

In [2]:
#format() function
x=14
y=68
print("x value in binary :",format(x,'b'))
print("y value in octal :",format(y,'o'))
print("y value in fixed point no. :",format(y,'f'))

x value in binary : 1110
y value in octal : 104
y value in fixed point no. : 68.000000

In [3]:
# round() function
x=17.9
y=22.3
z=-14.7
print(round(x))
print(round(y))
print(round(z))

18
22
-15

In [4]:
#power function
a=5
b=8
print(a,b)
print(pow(a,b))

5 8
390625

In [6]:
#math.floor function
import math
x=26.7
y=-35.6
z=-45.4
print(math.floor(x))
print(math.floor(y))
print(math.floor(z))

26
-36
-46

In [7]:
#math.ceil function
import math
x=26.7
y=-35.6
z=-45.4
print(math.ceil(x))
print(math.ceil(y))
print(math.ceil(z))

27
-35
-45

In [10]:
#math Squareroot function
import math
x=26.7
y=35.6
z=45.4
print(math.sqrt(x))
print(math.sqrt(y))
print(math.sqrt(z))

5.167204273105526
5.966573556070519
6.7379522111692065

In [13]:
#Composition function
a=eval(input("Enter any arithmathic expression :"))
print(a)

Enter any arithmathic expression :78+87
165

In [2]:
#Calculation of Factorial using recursive function
def fact(n):
    if(n==0):
        return 1
    else:
        return n*fact(n-1)
print(fact(8))

40320

In [4]:
#with recursive limit
import sys
sys.setrecursionlimit(3000)
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
print(fact(200))

788657867364790503552363213932185062295135977687173263294742533244359449963403342920304284011984623904177212138919638830257642790242637105061926624952829931113462857270763317237396988943922445621451664240254033291864131227428294853277524242407573903240321257405579568660226031904170324062351700858796178922222789623703897374720000000000000000000000000000000000000000000000000

# Strings and String Manipulation

In [6]:
#program to access each character  with its positive subscript of a giving string
str1=input("Enter a string :")
index=0
for i in str1:
    print("Subscript [",index,"] ",i)
    index+=1

Enter a string :Welcome
Subscript [ 0 ]  W
Subscript [ 1 ]  e
Subscript [ 2 ]  l
Subscript [ 3 ]  c
Subscript [ 4 ]  o
Subscript [ 5 ]  m
Subscript [ 6 ]  e

In [9]:
#Program to access each character with its negative subscript of a giving string
str1=input("Enter a string :")
index=-1
while(index >=-(len(str1))):
    print("Subscript [",index,"] ",str1[index])
    index+=-1

Enter a string :Welcome
Subscript [ -1 ]  e
Subscript [ -2 ]  m
Subscript [ -3 ]  o
Subscript [ -4 ]  c
Subscript [ -5 ]  l
Subscript [ -6 ]  e
Subscript [ -7 ]  W

In [10]:
str1=input("Enter a string :")
index=0
for i in str1:
    print(str1[:index+1])
    index+=1

Enter a string :Welcome
W
We
Wel
Welc
Welco
Welcom
Welcome

In [13]:
#String formating Operators
name=input("Enter your name: ")
mark=int(input("Enter your mark: "))
print("Name: %s , Mark: %d"%(name,mark))

Enter your name: Ajay S
Enter your mark: 100
Name: Ajay S , Mark: 100

In [14]:
a="Chennai"
print(len(a))

7

In [15]:
a="chennai"
print(a.capitalize())

Chennai

In [17]:
a="Chennai"
print(a.center(20," "))

      Chennai

In [29]:
a="Chennai"
print(a.find("nn"))
print(a.find("nn",6))
print(a.find("nn",1,7))

3
-1
3

In [30]:
a="Chennai"
print(a.count("n"))

2

In [31]:
a="Chennai"
print(a.swapcase())

cHENNAI

In [34]:
str1=input("Enter a String : ")
str2=""
index=-1
for i in str1:
    str2+=str1[index]
    index-=1
print("The given string = {} \n The reversed string = {}".format(str1,str2))
if (str1==str2):
    print("Hence, the given string is Palindrome")
else:
    print("Hence, the given is not palindrome")

Enter a String : txt
The given string = txt
 The reversed string = txt
Hence, the given string is Palindrome

In [35]:
str1="*"
i=1
while i<=5:
    print(str1*i)
    i+=1

*
**
***
****
*****

In [37]:
str1=input("Enter a string:")
str2="aAeEiIoOuU"
v,c=0,0
for i in str1:
    if i in str2:
        v+=1
    else:
        c+=1
print("The given string contains {} vowels and {} connstants".format(v,c))

Enter a string:Welcome
The given string contains 3 vowels and 4 connstants

In [39]:
def rem_vowels(s):
    temp_str=""
    for i in s:
        if i in "aAeEiIoOuU":
            pass
        else:
            temp_str+=i
    print("The string without vowels: ",temp_str)
str1=input("Enter a string: ")
rem_vowels(str1)

Enter a string: Welcome
The string without vowels:  Wlcm

In [41]:
def count(s,c):
    c1=0
    for i in s:
        if i==c:
            c1+=1
    return c1
str1=input("Enter a String: ")
ch=input("Enter a charachter to be searched: ")
cnt=count(str1,ch)
print("The given charchter {} is occures {} times in the given string".format(ch,cnt))

Enter a String: Welcome
Enter a charachter to be searched: e
The given charchter e is occures 2 times in the given string

# Lists, Tuples, Sets and Dictionary

In [2]:
#Sample
marks=[10,23,45,67,87]
i=0
while i<5:
    print(marks[i])
    i=i+1

10
23
45
67
87

In [6]:
#Sample
marks=[10,23,45,67,87]
i=-1
while i>=-5:
    print(marks[i])
    i=i-1

87
67
45
23
10

In [19]:
mylist=list(range(5,16))
print(mylist)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [20]:
mylist[0]=1
print(mylist)

[1, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [21]:
mylist[0:5]=0,1,2,3,4
print(mylist)

[0, 1, 2, 3, 4, 10, 11, 12, 13, 14, 15]

In [22]:
del mylist[0:5]
print(mylist)

[10, 11, 12, 13, 14, 15]

In [23]:
mylist.remove(10)
print(mylist)

[11, 12, 13, 14, 15]

In [24]:
squares=[x**2 for x in range(1,51)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

# List Functions

In [25]:
mylist=list(range(2,51,2))
x=mylist.copy()
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [26]:
print(mylist.count(20))

1

In [27]:
print(mylist.index(20))

9

In [30]:
mylist.reverse()
print(mylist)

[50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [31]:
mylist.sort()
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [33]:
mylist.sort(reverse=False)
print(mylist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [34]:
print(max(mylist))
print(min(mylist))
print(sum(mylist))

50
2
650

In [35]:
divBy=[]
for i in range(21):
    if(i%4==0):
        divBy.append(i)
print(divBy)

[0, 4, 8, 12, 16, 20]

# Programs using List

In [37]:
#Program to define a list of countries that are a member of BRICS. Check whether the country is a member of BRICS
country=["India","Russia","Srilanka","China","Brazil"]
is_member=input("enter the name of the country ")
if is_member in country:
    print(is_member,"is the member of BRICS")
else:
    print(ismember,"is not the member of BRICS")

enter the name of the country India
India is the member of BRICS

In [41]:
#Program tp read marks of six subjects and print the marks scored in each subject and show the total marks
marks=[]
subjects=["Tamil","English","Physics","Chemistry","Computer Science","Maths"]
for i in range(6):
    print(subjects[i])
    m=int(input("Enter your mark in "))
    marks.append(m)
for j in range(len(marks)):
    print("{}. {} Mark = {}".format(j+1,subjects[j],marks[j]))
print("Total Marks = ",sum(marks))

Tamil
Enter your mark in 90
English
Enter your mark in 99
Physics
Enter your mark in 80
Chemistry
Enter your mark in 85
Computer Science
Enter your mark in 100
Maths
Enter your mark in 80
1. Tamil Mark = 90
2. English Mark = 99
3. Physics Mark = 80
4. Chemistry Mark = 85
5. Computer Science Mark = 100
6. Maths Mark = 80
Total Marks =  534

In [45]:
#Program to read prices of 5 items in a list and then display sum of all the prices and average of it
items=[]
prod=1
for i in range(5):
    print("Enter price for item {}:".format(i+1))
    p=int(input())
    items.append(p)
for j in range(len(items)):
    print("Price for item {} = Rs. {}".format(j+1,items[j]))
    prod=prod*items[j]
print("Sum of all prices = Rs.",sum(items))
print("Average of all prices = Rs.",sum(items)/len(items))

Enter price for item 1:
46
Enter price for item 2:
45
Enter price for item 3:
54
Enter price for item 4:
65
Enter price for item 5:
656
Price for item 1 = Rs. 46
Price for item 2 = Rs. 45
Price for item 3 = Rs. 54
Price for item 4 = Rs. 65
Price for item 5 = Rs. 656
Sum of all prices = Rs. 866
Average of all prices = Rs. 173.2

In [46]:
#Program to count the number of employees earning more than 1 lakh per annum. The monthly salaries of n numbers of employees are given
count=0
n=int(input("Enter the number of employees: "))
print("No. of Employees ",n)
salary=[]
for i in range(n):
    print("Enter monthly salary of Employee {} Rs.:".format(i+1))
    s=int(input(" : "))
    salary.append(s)
for j in range(len(salary)):
    annual_salary=salary[j]*12
    print("Annual Salary of employee {} is Rs: {}".format(j+1,annual_salary))
    if annual_salary>=100000:
        count+=1
print("{} Employee out of {} are earning more than Rs. 100000 per annum".format(count,n))

Enter the number of employees: 3
No. of Employees  3
Enter monthly salary of Employee 1 Rs.:
 : 4000
Enter monthly salary of Employee 2 Rs.:
 : 5600
Enter monthly salary of Employee 3 Rs.:
 : 5700
Annual Salary of employee 1 is Rs: 48000
Annual Salary of employee 2 is Rs: 67200
Annual Salary of employee 3 is Rs: 68400
0 Employee out of 3 are earning more than Rs. 100000 per annum

In [48]:
#program to create a list of numbers in the range 1 to 10. Then delete all the even numbers from the list and print the final list
Num=[]
for x in range(1,11):
    Num.append(x)
print("The list of numbers from 1 to 10 = ",Num)
for index, i in enumerate(Num):
    if (i%2==0):
        del Num[index]
print("The list after deleting even numbers = ", Num)

The list of numbers from 1 to 10 =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The list after deleting even numbers =  [1, 3, 5, 7, 9]

In [50]:
#Program to generate in the Fibonacci Series and store it in a list Then find of all values
a=-1
b=1
n=int(input("Enter a number: "))
i=0
sum=0
Fibo=[]
while(i<n):
    s=a+b
    Fibo.append(s)
    sum+=s
    a=b
    b=s
    i+=1
print("Fibonacci Series upto "+ str(n)+" terms is "+str(Fibo))
print("The sum of the given Fibonacci series is : ",sum)

Enter a number: 40
Fibonacci Series upto 40 terms is [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986]
The sum of the given Fibonacci series is :  165580140

# Program using Tuple

In [51]:
#Program return the maximum as well minimum values in a list
def Min_Max(n):
    a=max(n)
    b=min(n)
    return (a,b)
Num=(12,45,76,43,87,56,34)
(Max_Num,Min_Num)=Min_Max(Num)
print("The Maximum value is : ",Max_Num)
print("The Minimum value is : ",Min_Num)

The Maximum value is :  87
The Minimum value is :  12

In [52]:
#Program to Swap two value using tuple assignment
a=int(input("Enter value of A: "))
b=int(input("Enter value of B: "))
print("Value of A = ",a,"\n Value of B = ",b)
(a,b)=(b,a)
print("Value of A = ",a ,"\n Value of B = ",b)

Enter value of A: 67
Enter value of B: 78
Value of A =  67
 Value of B =  78
Value of A =  78
 Value of B =  67

In [54]:
#Program using a function that return the area and circumference of a circle whose radius is passed as an argument. Two values using tuple assignment
pi=3.14
def Circle(r):
    return (pi*r*r,2*pi*r)
radius=float(input("Enter the Radius: "))
(area, circum)=Circle(radius)
print("Area of the Circle is = ",area)
print("Circumference of the Circle is = ",circum)

Enter the Radius: 10
Area of the Circle is =  314.0
Circumference of the Circle is =  62.800000000000004

In [56]:
#Program that has a list of positive and negative numbers. Create a new tuple that has only positive numbers from the list
Numbers=(5,-8,48,-34,3,42)
positive=()
for i in Numbers:
    if i>0:
        positive+=(i,)
print("Positive Number :", positive)

Positive Number : (5, 48, 3, 42)

# Program for Sets

In [59]:
#Program that generates a set of prime numbers and another set of even numbers. Demonstrate the result of union, intersection, difference and symmetric difference operations
even=set([x*2 for x in range (1,11)])
primes=set()
for i in range(2,20):
    j=2
    f=0
    while j<i/2:
        if i%j==0:
            f=1
        j+=1
    if f==0:
        primes.add(i)
print("Even Numbers: ",even)
print("Prime Numbers: ",primes)
print("Union: ",even.union(primes))
print("Intersection: ",even.intersection(primes))
print("Difference: ",even.difference(primes))
print("Symmetric Difference: ",even.symmetric_difference(primes))

Even Numbers:  {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
Prime Numbers:  {2, 3, 4, 5, 7, 11, 13, 17, 19}
Union:  {2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20}
Intersection:  {2, 4}
Difference:  {6, 8, 10, 12, 14, 16, 18, 20}
Symmetric Difference:  {3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20}

# Program for Dictionary

In [61]:
#program to access all the values stored in a dictionary
MyDict={
    'RegNo':"4001",
    'Name':"Ajay",
    'School':"DMHSS",
    'Address':"Tenkasi"
}
print(MyDict)
print("Register Number: ",MyDict["Name"])

{'RegNo': '4001', 'Name': 'Ajay', 'School': 'DMHSS', 'Address': 'Tenkasi'}
Register Number:  Ajay

In [62]:
MyDict['Class']="Python"
print(MyDict)

{'RegNo': '4001', 'Name': 'Ajay', 'School': 'DMHSS', 'Address': 'Tenkasi', 'Class': 'Python'}

In [64]:
del MyDict['School']
print(MyDict)

{'RegNo': '4001', 'Name': 'Ajay', 'Address': 'Tenkasi', 'Class': 'Python'}

In [65]:
MyDict.clear()
print(MyDict)

{}

# Additional Programs

# Run this code in python interpreter to find your cgpa for fifth semester

In [3]:
subject = ["ALGEBRA AND NUMBER THEORY(MA8551)", "COMPUTER NETWORKS(CS8591)", "MICROPROCESSORS AND MICROCONTROLLERS(EC8691)", "THEORY OF COMPUTATION(CS8501)","OBJECT ORIENTED ANALYSIS AND DESIGN(CS8592)", "MICROPROCESSORS AND MICROCONTROLLERS LABORATORY(EC8681)", "OBJECT ORIENTED ANALYSIS AND DESIGN LABORATORY(CS8582)", "NETWORKS LABORATORY(CS8581)", "OPEN ELECTIVE"]
marks = []
for i in subject:
    print(i)
    z = input("Enter grade for above subject: ")
    print()
    if z == "O":
        marks.append(10)
    elif z == "A+":
        marks.append(9)
    elif z == "A":
        marks.append(8)
    elif z == "B+":
        marks.append(7)
    elif z== "B":
        marks.append(6)
    else:
        marks.append(0)
credit = [4, 3, 3, 3, 3, 2, 2, 2, 3]
result = []
for i in range(len(credit)):
    result.append(credit[i] * marks[i])
for i in range(len(credit)):
    if result[i] == 0:
        credit[i] = 0
sum_total = 0
for i in result:
    sum_total += i
sum_credit = 0
for i in credit:
    sum_credit += i
try:
    CGPA = sum_total / sum_credit
except ZeroDivisionError:
    CGPA = 0
finally:
    print(f'YOUR OVERALL CGPA IS {CGPA}')

ALGEBRA AND NUMBER THEORY(MA8551)
Enter grade for above subject: O

COMPUTER NETWORKS(CS8591)
Enter grade for above subject: O

MICROPROCESSORS AND MICROCONTROLLERS(EC8691)
Enter grade for above subject: O

THEORY OF COMPUTATION(CS8501)
Enter grade for above subject: O

OBJECT ORIENTED ANALYSIS AND DESIGN(CS8592)
Enter grade for above subject: O

MICROPROCESSORS AND MICROCONTROLLERS LABORATORY(EC8681)
Enter grade for above subject: O

OBJECT ORIENTED ANALYSIS AND DESIGN LABORATORY(CS8582)
Enter grade for above subject: O

NETWORKS LABORATORY(CS8581)
Enter grade for above subject: O

OPEN ELECTIVE
Enter grade for above subject: O

YOUR OVERALL CGPA IS 10.0

# Run this to play a Dice game with a friend
# To win this game roll the dice to achive your score 100
# If you get 6 from your dice you are chanced to roll again

In [4]:

import random
person1 = 0
person2 = 0
print(f'Score of person1:{person1}')
print(f'Score of person2:{person2}')
i = 0
while True:
    if i % 2 == 0:
        input("Enter any key to roll the Dice By !!!Person1!!!: ")
        a = random.randint(1, 6)
        print(a)
        person1 += a
        print(f'Score of person1: {person1} || Score of person2: {person2}')
        print()
        print()
        print()
        if person1 >= 100:
            print("Person1 won the match")
            break

        if a == 6:
            i = 2
        else:
            i += 1
    else:

        input("Enter any key to roll the Dice By !!!Person2!!!: ")
        a = random.
        randint(1, 6)
        print(a)
        person2 += a
        print(f'Score of person2: {person2} || Score of person1: {person1}')
        print()
        print()
        print()
        if person2 >= 100:
            print("Person2 won the match")
            break
        if a == 6:
            i = 3
        else:
            i += 1

Score of person1:0
Score of person2:0
Enter any key to roll the Dice By !!!Person1!!!:
5
Score of person1: 5 || Score of person2: 0



Enter any key to roll the Dice By !!!Person2!!!:
1
Score of person2: 1 || Score of person1: 5



Enter any key to roll the Dice By !!!Person1!!!:
2
Score of person1: 7 || Score of person2: 1



Enter any key to roll the Dice By !!!Person2!!!:
6
Score of person2: 7 || Score of person1: 7



Enter any key to roll the Dice By !!!Person2!!!:
1
Score of person2: 8 || Score of person1: 7



Enter any key to roll the Dice By !!!Person1!!!:
5
Score of person1: 12 || Score of person2: 8



Enter any key to roll the Dice By !!!Person2!!!:
3
Score of person2: 11 || Score of person1: 12



Enter any key to roll the Dice By !!!Person1!!!:
4
Score of person1: 16 || Score of person2: 11



Enter any key to roll the Dice By !!!Person2!!!:
2
Score of person2: 13 || Score of person1: 16



Enter any key to roll the Dice By !!!Person1!!!:
4
Score of person1: 20 || Score of person2: 13



Enter any key to roll the Dice By !!!Person2!!!:
4
Score of person2: 17 || Score of person1: 20



Enter any key to roll the Dice By !!!Person1!!!:
3
Score of person1: 23 || Score of person2: 17



Enter any key to roll the Dice By !!!Person2!!!:
4
Score of person2: 21 || Score of person1: 23



Enter any key to roll the Dice By !!!Person1!!!:
1
Score of person1: 24 || Score of person2: 21



Enter any key to roll the Dice By !!!Person2!!!:
4
Score of person2: 25 || Score of person1: 24



Enter any key to roll the Dice By !!!Person1!!!:
1
Score of person1: 25 || Score of person2: 25



Enter any key to roll the Dice By !!!Person2!!!:
1
Score of person2: 26 || Score of person1: 25



Enter any key to roll the Dice By !!!Person1!!!:
5
Score of person1: 30 || Score of person2: 26



Enter any key to roll the Dice By !!!Person2!!!:
3
Score of person2: 29 || Score of person1: 30



Enter any key to roll the Dice By !!!Person1!!!:
6
Score of person1: 36 || Score of person2: 29



Enter any key to roll the Dice By !!!Person1!!!:
4
Score of person1: 40 || Score of person2: 29



Enter any key to roll the Dice By !!!Person2!!!:
5
Score of person2: 34 || Score of person1: 40



Enter any key to roll the Dice By !!!Person1!!!:
1
Score of person1: 41 || Score of person2: 34



Enter any key to roll the Dice By !!!Person2!!!:
2
Score of person2: 36 || Score of person1: 41



Enter any key to roll the Dice By !!!Person1!!!:
2
Score of person1: 43 || Score of person2: 36



Enter any key to roll the Dice By !!!Person2!!!:
1
Score of person2: 37 || Score of person1: 43



Enter any key to roll the Dice By !!!Person1!!!:
3
Score of person1: 46 || Score of person2: 37



Enter any key to roll the Dice By !!!Person2!!!:
3
Score of person2: 40 || Score of person1: 46



Enter any key to roll the Dice By !!!Person1!!!:
1
Score of person1: 47 || Score of person2: 40



Enter any key to roll the Dice By !!!Person2!!!:
1
Score of person2: 41 || Score of person1: 47



Enter any key to roll the Dice By !!!Person1!!!:
3
Score of person1: 50 || Score of person2: 41



Enter any key to roll the Dice By !!!Person2!!!:
1
Score of person2: 42 || Score of person1: 50



Enter any key to roll the Dice By !!!Person1!!!:
4
Score of person1: 54 || Score of person2: 42



Enter any key to roll the Dice By !!!Person2!!!:
4
Score of person2: 46 || Score of person1: 54



Enter any key to roll the Dice By !!!Person1!!!:
3
Score of person1: 57 || Score of person2: 46



Enter any key to roll the Dice By !!!Person2!!!:
6
Score of person2: 52 || Score of person1: 57



Enter any key to roll the Dice By !!!Person2!!!:
4
Score of person2: 56 || Score of person1: 57



Enter any key to roll the Dice By !!!Person1!!!:
6
Score of person1: 63 || Score of person2: 56



Enter any key to roll the Dice By !!!Person1!!!:
1
Score of person1: 64 || Score of person2: 56



Enter any key to roll the Dice By !!!Person2!!!:
5
Score of person2: 61 || Score of person1: 64



Enter any key to roll the Dice By !!!Person1!!!:
3
Score of person1: 67 || Score of person2: 61



Enter any key to roll the Dice By !!!Person2!!!:
6
Score of person2: 67 || Score of person1: 67



Enter any key to roll the Dice By !!!Person2!!!:
2
Score of person2: 69 || Score of person1: 67



Enter any key to roll the Dice By !!!Person1!!!:
6
Score of person1: 73 || Score of person2: 69



Enter any key to roll the Dice By !!!Person1!!!:
5
Score of person1: 78 || Score of person2: 69



Enter any key to roll the Dice By !!!Person2!!!:
6
Score of person2: 75 || Score of person1: 78

KeyboardInterrupt: Interrupted by user

# Finding Number of Vowels and Consonants in a paragraph

In [5]:
para = input("Enter your paragraph: ").lower()
vowel = 0
consonent = 0
for i in para:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
        vowel += 1
    elif i == "b" or i == "c" or i == "d" or i == "f" or i == "g" or i == "h" or i == "j" or i == "k" or i == "l" or i == "m" or i == "n" or i == "p" or i == "q" or i == "r" or i == "s" or i == "t" or i == "v" or i == "w" or i == "x" or i == "y" or i == "z":
        consonent += 1

print(f'No. of vowels present {vowel}')
print(f'No. of consonents present {consonent}')

Enter your paragraph: We are heros
No. of vowels present 5
No. of consonents present 5

# find the sum of two consecutive even numbers whose difference of squares is 84

In [6]:
for i in range(2,52,2):
    j=i+2
    c=i**2
    d=j**2
    e=c-d
    if e==-84:
        print(i,j)
        break;
print(i+j)

20 22
42

In [ ]:
i = 0
while True:
    if (i+2) ** 2 - i **2 == 84:
        print(i + i+2)
    i += 2

42